{% extends 'base.html' %}

{% block content %}
  <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="w-100" alt="poster img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 id="genres" data-genres="{{ movie.genres }}" class="card-title">{{ movie.title }}</h4>
        <p class="card-text">Release Date : {{ movie.release_date}}</p>
        <p class="card-text">Genres : {% for genre in genres %}{% if forloop.last %}{{ genre }} {% else %}{{ genre }}, {% endif %}{% endfor %}</p>
        <p class="card-text">{{ movie.overview }}</p>
        <p class="card-text">Popularity : {{ movie.popularity }}</p>
        <p class="card-text">Vote Average : {{ movie.vote_average }}</p>
        <a href="{% url 'community:create' movie.movie_id %}"><button class="btn btn-outline-secondary">[리뷰 작성하러 가기]</button></a>
        {% if user.user_rank == 4 %}
          <a href="{% url 'professional:create' movie.movie_id %}"><button class="btn btn-outline-secondary">[Pro 리뷰 작성하러 가기]</button></a>
        {% endif %}
        <hr>
        <h4 class="mb-3">최신 리뷰 목록</h4>
        <ul class="list-group">
          {% for review in reviews %}
            <a href="{% url 'community:detail' review.pk %}" class="list-group-item">{{ review.title }} [{{ review.comment_set.all|length }}]</a>
          {% endfor %}
        </ul>
        
      </div>
    </div>
  </div>
  </div>
  <hr>
  
  {% comment %} 장르 추천기능 {% endcomment %}
  <h3>Recommendations by Genres</h3>
  <br>
  <div id="recGenre" class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4">
  {% for recommend in recommend_list %}
    <a href="{% url 'movies:detail' recommend.id %}">
      <div class="col">
        <div class="card">
          <img src="https://image.tmdb.org/t/p/w500/{{ recommend.poster_path }}" class="card-img-top" alt="poster img" style="height: 246px;">
          <div class="card-body" style="height: 95px; padding-top: 7px;">
            <p class="card-title" style="font-size: 14px;">{{ recommend.title }}</p>
          </div>
        </div>
      </div>
    </a>
  {% endfor %}
  </div>
{% endblock %}
