{% extends 'base.html' %}

{% block content %}
  <h1>Movies</h1>
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
  {% for movie in movies %}
    <div class="col">
      <div class="card">
        <a href="{% url 'movies:detail' movie.movie_id %}">
          <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path}}" class="card-img-top" alt="poster img" style="height: 388.5px;">
        </a>
        <div class="card-body" style="height: 192px;">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">개봉일: {{ movie.release_date }}</p>
          <p class="card-text">평점: {{ movie.vote_average }}</p>
        </div>        
      </div>
    </div>
  {% endfor %}
{% endblock %}