{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
  <h2 class="text-center entitle">DETAIL</h2>
  <h3 class="kotitle">{{ review.title }}</h3>
  <p>작성자: {{ review.user }}</p>
  <p class="d-flex justify-content-end" style="font-size: 13px;">작성 시각: {{ review.created_at }}</p>
  <hr>
  <h5>영화: <a class="" href="{% url 'movies:detail' review.movie.movie_id %}">{{ review.movie.title }}</a></h5>
  <p>평점: {{ review.rank }}</p>
  <p>{{ review.content|linebreaks }}</p>
  <br>
  {% if request.user == review.user %}
    <a href="{% url 'community:update' review.pk %}"><button class="btn btn-outline-primary btn-sm">Update</button></a> 
    <form action="{% url 'community:delete' review.pk %}" method="POST" style="display: inline;">
      {% csrf_token %}
      <button class="btn btn-outline-danger btn-sm">Delete</button>
    </form>
  {% endif %}
  <hr>
  <h4>댓글 목록</h4>
  {% if comments|length %}
    <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
  {% endif %}
  {% for comment in comments %}
    <div>
      <span>{{ comment.user }} - {{ comment.content }}</span>
      {% if request.user == comment.user %}
        <form action="{% url 'community:delete_comment' review.pk comment.pk %}" method="POST" style="display: inline;">
          {% csrf_token %}
          <button class="btn btn-outline-danger btn-sm">Delete</button>
        </form>
      {% endif %}
    </div>
  {% empty %}
    <p>No comments yet</p>
  {% endfor %}
  <hr>
  {% if request.user.is_authenticated %}
    <form action="{% url 'community:create_comment' review.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      <button class="btn btn-outline-primary btn-sm">Submit</button>
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <a href="{% url 'community:index' %}">[back]</a>

{% endblock  %}