{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
  <h2 class="text-center">DETAIL</h2>
  <h3>{{ review.pk }} 번째 글</h3>
  <hr>
  <p>제목: {{ review.title }}</p>
  <p>영화 제목: <a href="{% url 'movies:detail' review.movie_id %}">{{ review.movie_title }}</a></p>
  <p>내용: {{ review.content }}</p>
  <p>평점: {{ review.rank }}</p>
  <p>작성 시각: {{ review.created_at }}</p>
  <p>수정 시각: {{ review.updated_at }}</p>
  {% if request.user == review.user %}
    <a href="{% url 'community:update' review.pk %}"><button class="btn btn-outline-primary btn-sm">글 수정</button></a> 
    <form action="{% url 'community:delete' review.pk %}" method="POST">
      {% csrf_token %}
      <button class="btn btn-outline-danger btn-sm">글 삭제</button>
    </form>
  {% endif %}
  <hr>
  <h4>댓글 목록</h4>
  {% if comments|length %}
    <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
  {% endif %}
  {% for comment in comments %}
    <div>
      <span>{{ comment.user }} - {{ comment.content }}</span>
      {% if request.user == comment.user %}
        <form action="{% url 'community:delete_comment' review.pk comment.pk %}" method="POST" style="display: inline;">
          {% csrf_token %}
          <button class="btn btn-outline-danger btn-sm">댓글 삭제</button>
        </form>
      {% endif %}
    </div>
  {% empty %}
    <p><b>댓글이 없어요..</b></p>
  {% endfor %}
  <hr>
  {% if request.user.is_authenticated %}
    <form action="{% url 'community:create_comment' review.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      <button class="btn btn-outline-primary btn-sm">Submit</button>
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <a href="{% url 'community:index' %}">[back]</a>

{% endblock  %}