{% extends 'base.html' %}

{% block content %}
  <h1>Community</h1>
  <hr>
  <table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Movie</th>
      <th scope="col">User</th>
      <th scope="col">Date</th>
      <th scope="col">Likes</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for review in reviews %}
    <tr>
      <th scope="row">{{ review.pk }}</th>
      <td><a href="{% url 'community:detail' review.pk %}">{{ review.title }}</a> [{{ review.comment_set.all|length }}]</td>
      <td><a href="{% url 'movies:detail' review.movie.movie_id %}">{{ review.movie.title }}</a></td>
      <td><a href="{% url 'accounts:profile' review.user.username %}">{{ review.user }}</a></td>
      <td><p>{{ review.created_at|date:'Y. m. d' }}</p></td>
      <td><p id="like-count-{{ review.pk }}">{{ review.like_users.all|length }}</p></td></td>
      <td>
        <form class="d-inline like-form" data-review-id="{{ review.pk }}">
          {% csrf_token %}
          {% if user in review.like_users.all %}
            <button class="btn btn-link">
              <i class="fas fa-heart fa-lg" style="color:crimson;" id="like-{{ review.pk }}"></i>
            </button>
          {% else %}
            <button class="btn btn-link">
              <i class="fas fa-heart fa-lg" style="color:black;" id="like-{{ review.pk }}"></i>
            </button>
          {% endif %}
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    // csrf
    const forms = document.querySelectorAll('.like-form')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    
    // like
    forms.forEach((form) => {
      form.addEventListener('submit', function (event) {
        event.preventDefault()
        const reviewId = event.target.dataset.reviewId

        axios({
          method: 'post',
          url: `http://127.0.0.1:8000/community/${reviewId}/like/`,
          headers: {'X-CSRFToken': csrftoken},
        })
          .then((response) => {
            console.log(response)
            const count = response.data.count
            const liked = response.data.liked

            const likeHeart = document.querySelector(`#like-${reviewId}`)
            likeHeart.style = liked ? 'color:crimson;' : 'color:black;'

            console.log(count)
            const likeCount = document.querySelector(`#like-count-${reviewId}`)
            likeCount.innerText = count

          })
          .catch((error) => {
            if (error.response.status === 401) {
              window.location.href = '/accounts/login/'
            }
        })
      })
    })
  </script>
{% endblock %}
