<br>
<h1 class="display-4">{{ person.username }}</h1>
{% with followings=person.followings.all followers=person.followers.all %}
  <p>User Rank: {{ person.user_rank }}</p>
  <p class="lead">
    Following : 
    <span id="followings-count">{{ followings|length }}</span>
    / Followers : 
    <span id="followers-count">{{ followers|length }}</span>
  </p>
  <!-- 팔로우 버튼 -->
  {% if request.user != person %}
    <form class="follow-form" data-person-id="{{ person.pk }}">
      {% csrf_token %}
      {% if request.user in followers %}
        <button class="btn" id="follow-btn" style="background-color: #d5e6bd;">Unfollow</button>
      {% else %}
        <button class="btn" id="follow-btn" style="background-color: #d5e6bd;">Follow</button>
      {% endif %}
    </form>
  {% endif %}
{% endwith %}
<hr>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const form = document.querySelector('.follow-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  form.addEventListener('submit', function (event) {
    event.preventDefault()
    const personId = event.target.dataset.personId

    axios({
      method: 'post',
      url: `http://127.0.0.1:8000/accounts/follow/${personId}/`,
      headers: {'X-CSRFToken': csrftoken},
    })

      .then((response) => {
        const followed = response.data.followed
        const followers = response.data.followers
        const followings = response.data.followings

        const followBtn = document.querySelector('#follow-btn')
        followBtn.innerText = followed ? 'Unfollow' : 'Follow'
        // 색상변화 추가 필요
      
        const followingsCount = document.querySelector('#followings-count')
        followingsCount.innerText = followings
        const followersCount = document.querySelector('#followers-count')
        followersCount.innerText = followers
      })
  })
</script>