{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'accounts/_follow.html' %}
<div class="row">
  <section class="col" style="float: left;">
    <h3>Reviews [{{ person.review_set.all|length }}]</h3>
    <ul class="list-group">
      {% for review in person.review_set.all %}
        <a class="list-group-item" href="{% url 'community:detail' review.pk %}">{{ review.title }}</a>
      {% endfor %}
    </ul>
    <hr>

    <h3>Comments [{{ person.comment_set.all|length }}]</h3>
    <ul class="list-group">
      {% for comment in person.comment_set.all %}
        <a class="list-group-item" href="{% url 'community:detail' comment.review.pk %}">{{ comment.content }}</a>
      {% endfor %}
    </ul>
    <hr>

    <h3>Likes</h3>
    <ul class="list-group">
      {% for review in person.like_reviews.all %}
        <a class="list-group-item" href="{% url 'community:detail' review.pk %}">{{ review.title }}</a>
      {% endfor %}
    </ul>
    <hr>

    <a href="{% url 'community:index' %}">[back]</a>
  </section>

  <aside class="col ms-4" style="float: right;">
    <h2 id="get-stamp" data-my-stamp="{{ stamp }}">Stamp Zone</h2>
    {% if person.user_rank < 2 %}
      <h4 class="kotitle">2등급 이상 회원에게 오픈됩니다.</h4>
      <p>리뷰 10개, 댓글 10개 이상 작성 시 2등급 회원이 되어 스탬프를 사용할 수 있습니다.</p>
    {% else %}
      <p>총 스탬프: {{ stamp.counter }}개</p>
      <table class="table table-bordered text-center" style="font-size: 13px; display: block;">
      <thead>
        <tr>
          <th scope="col" style="width: 104px;">
            {% if stamp.action %}
              <img src="{% static 'action2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'action.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>Action
          </th>
          <th scope="col" style="width: 104px;">
            {% if stamp.adventure %}
              <img src="{% static 'adventure2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'adventure.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>Adventure
          </th>
          <th scope="col" style="width: 104px;">
            {% if stamp.animation %}
              <img src="{% static 'animation2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'animation.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>Animation
          </th>
          <th scope="col" style="width: 104px;">
            {% if stamp.comedy %}
              <img src="{% static 'comedy2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'comedy.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>Comedy
          </th>
          <th scope="col" style="width: 104px;">
            {% if stamp.crime %}
              <img src="{% static 'crime2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'crime.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>Crime
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            {% if stamp.documentary %}
              <img src="{% static 'documentary2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'documentary.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>Documentary
          </th>
          <td>
            {% if stamp.drama %}
              <img src="{% static 'drama2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'drama.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>Drama
          </td>
          <td>
            {% if stamp.family %}
              <img src="{% static 'family2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'family.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>Family
          </td>
          <td>
            {% if stamp.fantasy %}
              <img src="{% static 'fantasy2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'fantasy.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>Fantasy
          </td>
          <td>
            {% if stamp.history %}
              <img src="{% static 'history2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'history.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>History
          </td>
        </tr>
        <tr>
          <th scope="row">
            {% if stamp.horror %}
              <img src="{% static 'horror2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'horror.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>Horror
          </th>
          <td>
            {% if stamp.music %}
              <img src="{% static 'music2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'music.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>Music
          </td>
          <td>
            <img src="{% static 'bonus.png' %}" alt="" style="height: 50px; width: 50px;">
            <br>Bonus
          </td>
          <td>
            {% if stamp.mystery %}
              <img src="{% static 'mystery2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'mystery.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>Mystery
          </td>
          <td>
            {% if stamp.romance %}
              <img src="{% static 'romance2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'romance.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>Romance
          </td>
        </tr>
        <tr>
          <th scope="row">
            {% if stamp.science_fiction %}
              <img src="{% static 'sf2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'sf.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>SF
          </th>
          <td>
            {% if stamp.tv_movie %}
              <img src="{% static 'tvmovie2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'tvmovie.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>TV Movie
          </td>
          <td>
            {% if stamp.thriller %}
              <img src="{% static 'thriller2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'thriller.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>Thriller
          </td>
          <td>
            {% if stamp.war %}
              <img src="{% static 'war2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'war.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>War
          </td>
          <td>
            {% if stamp.western %}
              <img src="{% static 'western2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'western.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>Western
          </td>
        </tr>
        <tr>
          <th scope="row">
            {% if stamp.review_stamp %}
              <img src="{% static 'review2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'review.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>Review
          </th>
          <td>
            {% if stamp.comment_stamp %}
              <img src="{% static 'comment2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'comment.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>Comments
          </td>
          <td>
            {% if stamp.follower_stamp %}
              <img src="{% static 'follower2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'follower.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>Followers
          </td>
          <td>
            {% if stamp.joined_stamp %}
              <img src="{% static 'joined2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'joined.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>Joined
          </td>
          <td>
            {% if stamp.all_stamp %}
              <img src="{% static 'all2.png' %}" alt="" style="height: 50px; width: 50px;">
            {% else %}
              <img src="{% static 'all.png' %}" alt="" style="height: 50px; width: 50px;">
            {% endif %}
            <br>Total 24
          </td>
        </tr>
      </tbody>
      </table>
    {% endif %}
    
    <div>
      <hr>
      <h4 class="kotitle">스탬프 안내사항</h4>
      <p style="margin-bottom: 5px;">2등급 달성 시 bonus 스탬프를 획득합니다.</p>
      <p style="margin-bottom: 5px;">장르 스탬프는 해당 장르의 영화 리뷰 작성 시 획득할 수 있습니다.</p>
      <p style="margin-bottom: 5px;">리뷰, 댓글 스탬프는 각 30개 이상 작성 시 획득할 수 있습니다.</p>
      <p style="margin-bottom: 5px;">팔로워 스탬프는 팔로워가 30명 이상일 경우 획득할 수 있습니다.</p>
      <p style="margin-bottom: 5px;">가입일자 스탬프는 가입일 이후 경과 일수가 7일 이상일 경우 획득할 수 있습니다.</p>
      <p style="margin-bottom: 5px;">왕관 스탬프는 다른 모든 스탬프를 획득할 경우 얻는 최종 스탬프 입니다.</p>
      <p style="margin-bottom: 5px;">총 15개 이상의 스탬프 획득 시 3등급 회원이 되어 Pro Community를 이용할 수 있습니다.</p>
    </div>
  </aside>
</div>
{% endblock  %}