{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'accounts/_follow.html' %}
<div style="float: left;">
  <h1 class="text-center">{{ person.username }}님의 프로필</h1>
  <h2 class="text-center">{{ person.user_rank }} 등급</h2>
  <hr>

  <h2>{{ person.username }}가 쓴 글</h2>
  {% for review in person.review_set.all %}
    <div>{{ review.title }}</div>
  {% endfor %}

  <hr>

  <h2>{{ person.username }}가 쓴 댓글</h2>
  {% for comment in person.comment_set.all %}
    <div>{{ comment.content }}</div>
  {% endfor %}

  <hr>

  <h2>{{ person.username }}가 좋아요한 글</h2>
  {% for review in person.like_reviews.all %}
    <div>{{ review.title }}</div>
  {% endfor %}

  <hr>

  <a href="{% url 'community:index' %}">[back]</a>
</div>

<aside style="float: right;">
  <h2 id="get-stamp" data-my-stamp="{{ stamp }}">Stamp Zone</h2>
  <p>총 스탬프: {{ stamp.counter }}개</p>
  <img src="{% static 'fantasy2.png' %}" alt="">
  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Action: <br>{{ stamp.action }}</th>
      <th scope="col">Adventure: <br>{{ stamp.adventure }}</th>
      <th scope="col">Animation: <br>{{ stamp.animation }}</th>
      <th scope="col">Comedy: <br>{{ stamp.comedy }}</th>
      <th scope="col">Crime: <br>{{ stamp.crime }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Documentary: <br>{{ stamp.documentary }}</th>
      <td>Drama: <br>{{ stamp.drama }}</td>
      <td>Family: <br>{{ stamp.family }}</td>
      <td>Fantasy: <br>{{ stamp.fantasy }}</td>
      <td>History: <br>{{ stamp.history }}</td>
    </tr>
    <tr>
      <th scope="row">Horror: <br>{{ stamp.horror }}</th>
      <td id="music"><i class="fas fa-music fa-2x"></i><br>Music</td>
      <td>Bonus: <br>{{ stamp.bonus }}</td>
      <td>Mystery: <br>{{ stamp.mystery }}</td>
      <td>Romance: <br>{{ stamp.romance }}</td>
    </tr>
    <tr>
      <th scope="row" id="sf"><i class="fas fa-robot"></i><br>Science Fiction</th>
      <td>TV Movie: <br>{{ stamp.tv_movie }}</td>
      <td>Thriller: <br>{{ stamp.thriller }}</td>
      <td>War: <br>{{ stamp.war }}</td>
      <td>Western: <br>{{ stamp.western }}</td>
    </tr>
    <tr>
      <th scope="row">Review >= 30: <br>{{ stamp.review_stamp }}</th>
      <td>Comments >= 30: <br>{{ stamp.comment_stamp }}</td>
      <td id="follow-stamp"><i class="fas fa-user-friends"></i><br>Followers >= 30:</td>
      <td>Joined > 7: <br>{{ stamp.joined_stamp }}</td>
      <td>Total 24: <br>{{ stamp.all_stamp }}</td>
    </tr>
  </tbody>

</aside>

<script>
  const getStamp = document.querySelector('#get-stamp')
  myStamp = getStamp.dataset.myStamp

  const music = document.querySelector('#music')
  if (stamp.music === true) {
    music.setAttribute('style', 'color: #6eaf28;')
  }
  const sf = document.querySelector('#sf')
  if (stamp. === true) {
    sf.setAttribute('style', 'color: #6eaf28;')
  }
  const followStamp = document.querySelector('#follow-stamp')
  if (stamp.music === true) {
    followStamp.setAttribute('style', 'color: #6eaf28;')
  }

  const music = document.querySelector('#music')
  if (stamp.music === true) {
    music.setAttribute('style', 'color: #6eaf28;')
  }
  const music = document.querySelector('#music')
  if (stamp.music === true) {
    music.setAttribute('style', 'color: #6eaf28;')
  }
  const music = document.querySelector('#music')
  if (stamp.music === true) {
    music.setAttribute('style', 'color: #6eaf28;')
  }
  const music = document.querySelector('#music')
  if (stamp.music === true) {
    music.setAttribute('style', 'color: #6eaf28;')
  }
  const music = document.querySelector('#music')
  if (stamp.music === true) {
    music.setAttribute('style', 'color: #6eaf28;')
  }
  const music = document.querySelector('#music')
  if (stamp.music === true) {
    music.setAttribute('style', 'color: #6eaf28;')
  }

</script>
{% endblock  %}