{% extends 'base.html' %}

{% block content %}
  <h2 class="text-center entitle">DETAIL</h2>
  <h3 class="kotitle">{{ proreview.pk }} 번째 글</h3>
  <hr>
  <p>작성자: {{ proreview.user }}</p>
  <p class="d-flex justify-content-end" style="font-size: 13px;">작성 시각: {{ proreview.created_at }}</p>
  <hr>
  <h5>영화: <a class="" href="{% url 'movies:detail' proreview.movie.movie_id %}">{{ proreview.movie.title }}</a></h5>
  <p>평점: {{ proreview.rank }}</p>
  <p>{{ proreview.content|linebreaks }}</p>
  <br>
  {% if request.user == proreview.user %}
    <a href="{% url 'professional:update' proreview.pk %}"><button class="btn btn-outline-primary btn-sm">Update</button></a> 
    <form action="{% url 'professional:delete' proreview.pk %}" method="POST" style="display: inline;">
      {% csrf_token %}
      <button class="btn btn-outline-danger btn-sm">Delete</button>
    </form>
  {% endif %}
  <hr>
  <a href="{% url 'professional:index' %}">[back]</a>
{% endblock  %}