{% extends 'base.html' %}

{% block content %}
  <h1 class="entitle fst-italic">Pro-Community</h1>
  <hr>
  <table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Movie</th>
      <th scope="col">Rating</th>
      <th scope="col">User</th>
      <th scope="col">Date</th>
      <th scope="col">Likes</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for proreview in proreviews %}
    <tr>
      <th scope="row">{{ proreview.pk }}</th>
      <td><a href="{% url 'professional:detail' proreview.pk %}">{{ proreview.title }}</a></td>
      <td><a href="{% url 'movies:detail' proreview.movie.movie_id %}">{{ proreview.movie.title }}</a></td>
      <td><p>{{ proreview.rank }}</p></td>
      <td><a href="{% url 'accounts:profile' proreview.user.username %}">{{ proreview.user }}</a></td>
      <td><p>{{ proreview.created_at|date:'Y. m. d' }}</p></td>
      <td><p id="like-count-{{ proreview.pk }}">{{ proreview.like_users.all|length }}</p></td></td>
      <td>
        <form class="d-inline like-form" data-proreview-id="{{ proreview.pk }}">
          {% csrf_token %}
          {% if user in proreview.like_users.all %}
            <button class="btn btn-link">
              <i class="fas fa-heart fa-lg" style="color:crimson;" id="like-{{ proreview.pk }}"></i>
            </button>
          {% else %}
            <button class="btn btn-link">
              <i class="fas fa-heart fa-lg" style="color:black;" id="like-{{ proreview.pk }}"></i>
            </button>
          {% endif %}
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    // csrf
    const forms = document.querySelectorAll('.like-form')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    
    // like
    forms.forEach((form) => {
      form.addEventListener('submit', function (event) {
        event.preventDefault()
        const proreviewId = event.target.dataset.proreviewId

        axios({
          method: 'post',
          url: `http://127.0.0.1:8000/professional/${proreviewId}/like/`,
          headers: {'X-CSRFToken': csrftoken},
        })
          .then((response) => {
            console.log(response)
            const count = response.data.count
            const liked = response.data.liked

            const likeHeart = document.querySelector(`#like-${proreviewId}`)
            likeHeart.style = liked ? 'color:crimson;' : 'color:black;'

            console.log(count)
            const likeCount = document.querySelector(`#like-count-${proreviewId}`)
            likeCount.innerText = count

          })
          .catch((error) => {
            if (error.response.status === 401) {
              window.location.href = '/accounts/login/'
            }
        })
      })
    })
  </script>
{% endblock %}
